{% extends "base.html" %}

{% block title %}Delete {{ product.name }}{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'ebay:add_product' %}">Добавить товар</a></li>
{% endblock %}

{% block content %}
    <br><br><br><h3>Вы точно хотите удалить "{{ product.name }}" из базы?</h3><br><br>
    <form method="POST" action="{% url "ebay:delete_product" product.id %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a class="delete_no_link" href="{% url "ebay:all_products" %}">Нет</a></p>
    </form>
{% endblock %}