{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block login %}
    <a class="btn btn-secondary btn-sm ms-2" href="{% url 'accounts:login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}">Войти</a>
{% endblock %}

{% block registration %}
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="POST" class="mt-5">
        {% include 'partial/form_template.html' with button_text='Зарегистрироваться' %}
    </form>
{% endblock %}